{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
            <section class="form-container">
                <form action="{% url 'cadastrar' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                         {% for field in form.visible_fields %}
                        <div class="col-12">
                            <label for="{{ field.id_for_label }}">{{field.label}}</label>
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{error}}
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-success" type="submit">Cadastrar</button>
                    </div>
                    <p class="text-center">Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>
                </form>
            </section>
{% endblock %}